# OpenSearch
OPENSEARCH_NODE=https://search-<your-os-domain>.<region>.es.amazonaws.com
OPENSEARCH_AUTH= # optional user:pass
OPENSEARCH_SSL=true
OS_INDEX_POSTS=tf_posts@write
OS_INDEX_PEOPLE=tf_people@write
OS_INDEX_JOBS=tf_jobs@write
OS_INDEX_COURSE=tf_courses@write

# Payments
HYPERPAY_BASE=https://eu-prod.oppwa.com
HYPERPAY_USER_ID=
HYPERPAY_PASSWORD=
HYPERPAY_ENTITY_ID=

TAP_API=https://api.tap.company
TAP_SECRET_KEY=sk_live_...
TAP_WEBHOOK_SECRET=replace_me

# Identity
# Reverse proxy/Auth gateway should set x-idp=nafath when session is from Nafath IdP
