
openapi: 3.0.3
info:
  title: TalentFairs National Grid API
  version: 8.0.0
servers:
  - url: https://api.talentfairs.sa
paths:
  /ingest/oneroster/csv:
    post:
      summary: Ingest OneRoster CSV archive (.zip)
      requestBody:
        required: true
        content:
          application/zip:
            schema: { type: string, format: binary }
      responses:
        '202': { description: Accepted }
  /skills/esco/sync:
    post:
      summary: Sync ESCO skills/occupations into search/graph
      responses: { '202': { description: Accepted } }
  /credentials/europass/export:
    post:
      summary: Export Europass CV/EDC for a person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { personId: { type: string } }
      responses: { '200': { description: OK } }
  /badges/issue:
    post:
      summary: Issue Open Badges 2.1 assertion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personId: { type: string }
                badgeClass: { type: string }
      responses: { '201': { description: Created } }
  /talent/graph/recommendations:
    post:
      summary: Graph + LTR fusion recommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [people, jobs, courses, posts] }
                q: { type: string }
                viewerId: { type: string }
      responses: { '200': { description: OK } }
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
