# OpenSearch
OPENSEARCH_NODE=https://search-<endpoint>
OPENSEARCH_AUTH=
OPENSEARCH_SSL=true
OS_INDEX_POSTS=tf_posts@write
OS_ALIAS_POSTS_R=tf_posts@read
OS_INDEX_PEOPLE=tf_people@write
OS_ALIAS_PEOPLE_R=tf_people@read
OS_INDEX_JOBS=tf_jobs@write
OS_ALIAS_JOBS_R=tf_jobs@read
OS_INDEX_COURSE=tf_courses@write
OS_ALIAS_COUR_R=tf_courses@read

# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASS=

# Payments
TAP_SECRET_KEY=
TAP_WEBHOOK_SECRET=
HYPERPAY_BASE=https://eu-prod.oppwa.com
HYPERPAY_USER_ID=
HYPERPAY_PASSWORD=
HYPERPAY_ENTITY_ID=

# Keycloak/Nafath vars are passed to go-live-prod.sh
