# API
PORT=4000

# OpenSearch
OPENSEARCH_NODE=http://localhost:9200
OPENSEARCH_AUTH=
OPENSEARCH_SSL=false
OS_INDEX_POSTS=tf_posts
OS_INDEX_PEOPLE=tf_people
OS_INDEX_JOBS=tf_jobs
OS_INDEX_COURSE=tf_courses

# Payments
HYPERPAY_BASE=https://eu-prod.oppwa.com
HYPERPAY_ENTITY_ID=
HYPERPAY_TOKEN=

TAP_API=https://api.tap.company
TAP_SECRET_KEY=
TAP_WEBHOOK_SECRET=

# Identity
# Reverse proxy/Auth gateway should set x-idp=nafath when user logged via Nafath
