DATABASE_URL=postgresql://postgres:postgres@localhost:5432/talent?schema=public
REDIS_URL=redis://localhost:6379
OPENSEARCH_URL=http://localhost:9200
OS_JOBS_INDEX=jobs-ar
KEYCLOAK_ISSUER=http://localhost:8080/realms/talent
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/talent/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=web
KEYCLOAK_CLIENT_SECRET=dev_secret
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me
PORT_API=4000
PORT_WEB=3000
