
# === Global ===
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/talentverse

# === Keycloak ===
KEYCLOAK_JWKS_URL=http://localhost:8081/realms/talentverse/protocol/openid-connect/certs
KEYCLOAK_ISSUER=http://localhost:8081/realms/talentverse
KEYCLOAK_AUDIENCE=api-gateway

# === AI ===
USE_HF=1
TM_URL=http://localhost:8010
