KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=talent
KEYCLOAK_CLIENT_ID=talent-web
KEYCLOAK_CLIENT_SECRET=replace_me
OIDC_ISSUER=http://localhost:8080/realms/talent
OIDC_JWKS=http://localhost:8080/realms/talent/protocol/openid-connect/certs
